In [1]:
# conda install package_name

## load packages

In [2]:
import os
import pandas as pd
import matplotlib.image as mpimg
import matplotlib.pyplot as plt
import numpy as np

In [3]:
os.chdir('/cxr/tables')
os.getcwd()

'/cxr/tables'

In [4]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

## load data

In [5]:
metadata = pd.read_csv('datathon_cxr_metadata.csv')
metadata.head()

,AccessionNumber_anon,empi_anon,StudyDate_anon,ImagePath,Sex,Race,BMI_value,Age,ImageView_Frontal,ImageView_Lateral,ADI,ICU,Findings,CCI,Insurance
0,730154105668,52977939,2015-05-25,CXR/0x3286113/0xaa00937b44/113df82f737c104d237a63f266272075865c98e4b5c138620910cca8.png,Female,Asian,27.8,64,1,0,0,0,0,1,0
1,730154105668,52977939,2015-05-25,CXR/0x3286113/0xaa00937b44/89050d1461435de5976bf2acd43a50b2db36b7f266bd51c25955d73f.png,Female,Asian,27.8,64,1,0,0,0,0,1,0
2,977466825251,22388606,2015-11-07,CXR/0x1559f7e/0xe395901a23/e8d1f96771edc630313edd1cb588f2e3b4211bf2c455a3da7fa08ae5.png,Male,Caucasian or White,31.1,59,1,0,0,0,0,1,0
3,977466825251,22388606,2015-11-07,CXR/0x1559f7e/0xe395901a23/b342a1ce7967c5bee7270cffdf2d7ac4f7ffcb1209fb54bd3f634a01.png,Male,Caucasian or White,31.1,59,0,1,0,0,0,1,0
4,241761763812,82600404,2016-02-26,CXR/0x4ec61d4/0x384a1fc1e4/7527e461c61f7f5248d8a27aea53e2f49e750ae3af29a33be23b79c5.png,Female,Caucasian or White,34.8,75,0,1,0,0,0,1,0

In [6]:
metadata.shape

(1045591, 15)

In [7]:
metadata.dtypes

AccessionNumber_anon      int64
empi_anon                 int64
StudyDate_anon           object
ImagePath                object
Sex                      object
Race                     object
BMI_value               float64
Age                       int64
ImageView_Frontal         int64
ImageView_Lateral         int64
ADI                       int64
ICU                       int64
Findings                  int64
CCI                       int64
Insurance                 int64
dtype: object

In [8]:
metadata.isna().sum()

AccessionNumber_anon    0
empi_anon               0
StudyDate_anon          0
ImagePath               0
Sex                     0
Race                    0
BMI_value               0
Age                     0
ImageView_Frontal       0
ImageView_Lateral       0
ADI                     0
ICU                     0
Findings                0
CCI                     0
Insurance               0
dtype: int64

In [9]:
# ADI = 'Area Deprivation Index'
# ICU = 'Intensive Care Unit'
# CCI = 'Charlson Comorbidity Index'
metadata.describe()

,AccessionNumber_anon,empi_anon,BMI_value,Age,ImageView_Frontal,ImageView_Lateral,ADI,ICU,Findings,CCI,Insurance
count,1.045591e+06,1.045591e+06,1.045591e+06,1.045591e+06,1.045591e+06,1.045591e+06,1.045591e+06,1.045591e+06,1.045591e+06,1.045591e+06,1.045591e+06
mean,3.905478e+15,5.489291e+07,2.932556e+01,5.705196e+01,6.214495e-01,3.785505e-01,1.039364e-01,4.038099e-02,7.101936e-01,9.851825e-01,6.531263e-01
std,3.319588e+15,2.598056e+07,7.062933e+01,1.691121e+01,4.850260e-01,4.850260e-01,3.051782e-01,1.968512e-01,4.536726e-01,1.208218e-01,4.759754e-01
min,8.301027e+06,1.000068e+07,-3.320000e+01,1.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.627717e+11,3.228024e+07,2.380000e+01,4.500000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
50%,3.656558e+15,5.494539e+07,2.760000e+01,5.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
75%,6.836684e+15,7.735461e+07,3.270000e+01,7.000000e+01,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
max,9.999995e+15,9.999973e+07,3.228000e+04,8.800000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [10]:
len(metadata['AccessionNumber_anon'].unique())

609286

In [11]:
len(metadata['empi_anon'].unique())

248047

In [12]:
findings = pd.read_csv('datathon_cxr_findings.csv')
findings.head()

,acc_nbr_anon,empi_anon,No Finding,Enlarged Cardiomediastinum,Cardiomegaly,Lung Lesion,Lung Opacity,Edema,Consolidation,Pneumonia,Atelectasis,Pneumothorax,Pleural Effusion,Pleural Other,Fracture,Support Devices
0,9526232984797202,34585500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,1526038436634074,64826906,NaN,NaN,-1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2,6862425503526023,39846914,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
3,1758658892006777,37020453,NaN,NaN,1.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN
4,9845013174049729,60874485,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1.0,NaN,NaN,NaN

In [13]:
findings.shape

(1080600, 16)

In [14]:
count = 0
empi_list = []

for element in metadata['empi_anon']:
    if element not in empi_list:
        empi_list.append(element)
        count += 1
    if count == 1000:
        break

In [15]:
meta_extract = metadata[metadata['empi_anon'].isin(empi_list)].reset_index(drop=True)
meta_extract.shape

(12031, 15)

In [16]:
meta_extract.head()

,AccessionNumber_anon,empi_anon,StudyDate_anon,ImagePath,Sex,Race,BMI_value,Age,ImageView_Frontal,ImageView_Lateral,ADI,ICU,Findings,CCI,Insurance
0,730154105668,52977939,2015-05-25,CXR/0x3286113/0xaa00937b44/113df82f737c104d237a63f266272075865c98e4b5c138620910cca8.png,Female,Asian,27.8,64,1,0,0,0,0,1,0
1,730154105668,52977939,2015-05-25,CXR/0x3286113/0xaa00937b44/89050d1461435de5976bf2acd43a50b2db36b7f266bd51c25955d73f.png,Female,Asian,27.8,64,1,0,0,0,0,1,0
2,977466825251,22388606,2015-11-07,CXR/0x1559f7e/0xe395901a23/e8d1f96771edc630313edd1cb588f2e3b4211bf2c455a3da7fa08ae5.png,Male,Caucasian or White,31.1,59,1,0,0,0,0,1,0
3,977466825251,22388606,2015-11-07,CXR/0x1559f7e/0xe395901a23/b342a1ce7967c5bee7270cffdf2d7ac4f7ffcb1209fb54bd3f634a01.png,Male,Caucasian or White,31.1,59,0,1,0,0,0,1,0
4,241761763812,82600404,2016-02-26,CXR/0x4ec61d4/0x384a1fc1e4/7527e461c61f7f5248d8a27aea53e2f49e750ae3af29a33be23b79c5.png,Female,Caucasian or White,34.8,75,0,1,0,0,0,1,0

In [17]:
find_extract = findings[findings['empi_anon'].isin(empi_list)].reset_index(drop=True)
find_extract = find_extract.rename(columns={'acc_nbr_anon':'AccessionNumber_anon'})
find_extract.shape

(9049, 16)

In [18]:
find_extract.head()

,AccessionNumber_anon,empi_anon,No Finding,Enlarged Cardiomediastinum,Cardiomegaly,Lung Lesion,Lung Opacity,Edema,Consolidation,Pneumonia,Atelectasis,Pneumothorax,Pleural Effusion,Pleural Other,Fracture,Support Devices
0,999,99937241,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,999,87659448,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,1.0,NaN,NaN,1.0
2,999,71121233,NaN,NaN,1.0,NaN,0.0,1.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,1.0
3,999,44381860,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,999,92135154,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
joined_dat = pd.merge(meta_extract, find_extract, how='inner', on=['empi_anon','AccessionNumber_anon'])
joined_dat.shape

(8630, 29)

In [20]:
joined_dat.head(50)

,AccessionNumber_anon,empi_anon,StudyDate_anon,ImagePath,Sex,Race,BMI_value,Age,ImageView_Frontal,ImageView_Lateral,ADI,ICU,Findings,CCI,Insurance,No Finding,Enlarged Cardiomediastinum,Cardiomegaly,Lung Lesion,Lung Opacity,Edema,Consolidation,Pneumonia,Atelectasis,Pneumothorax,Pleural Effusion,Pleural Other,Fracture,Support Devices
0,4565490549548134,98572016,2010-01-29,CXR/0x5e016f0/0x10384a1a6e6466/99578940d67f633f9216a77d7cf5017285bf6ea0cc3ee449fd1f8dcc.png,Female,African American or Black,26.7,80,1,0,0,0,1,1,1,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,0.0,1.0,NaN,NaN,1.0
1,7705188003700623,32886211,2010-07-19,CXR/0x1f5cdc3/0x1b5fd3e1e35f8f/017790a77efd6fbb92a29fe4184e07a8b15f54a6f0b907a3cfc184bd.png,Female,Caucasian or White,23.9,55,0,1,0,0,1,1,1,NaN,0.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7705188003700623,32886211,2010-07-19,CXR/0x1f5cdc3/0x1b5fd3e1e35f8f/bb25a781da01badb38bb93c5ca5b6028128abdc04c3d80725347427a.png,Female,Caucasian or White,23.9,55,1,0,0,0,1,1,1,NaN,0.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3091395609988214,91465233,2011-03-10,CXR/0x573a611/0xafb9ba1318c76/2f448126139142c1306ae6823abcc8ad31c16b05fd9ee53fd257ac56.png,Male,African American or Black,20.1,77,1,0,0,0,1,1,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN
4,3091395609988214,91465233,2011-03-10,CXR/0x573a611/0xafb9ba1318c76/5dab76d3569452d3b04f03f3f2ea8c3e7cec871a7c64d84910dec243.png,Male,African American or Black,20.1,77,1,0,0,0,1,1,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN
5,1125463708179293,22775463,2016-10-22,CXR/0x15b86a7/0x3ff9a70889b5d/ba1ae65a9fd3918c9e42716eb95148ba4c03db4e5baf229ff28bec09.png,Male,African American or Black,31.3,78,1,0,0,0,1,1,0,NaN,1.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,1.0
6,2841175740280871,57879309,2013-05-23,CXR/0x3732b0d/0xa1808c6be7027/410f5542fa73ecd0fda22fa80b7b319a923e61faf07ec27c784f0e23.png,Male,African American or Black,27.2,61,1,0,0,0,1,1,1,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8362369659966330,68700186,2014-04-02,CXR/0x418481a/0x1db587e910137a/0e363cae472d8da89a0db237a830b7cf44a4ba99ba731d9c6b7bddd3.png,Male,Caucasian or White,44.8,59,1,0,0,0,1,1,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN
8,8362369659966330,68700186,2014-04-02,CXR/0x418481a/0x1db587e910137a/f4b0bec731ce684a49ae6421de1f24502cafb15221dafa0f9ed3295b.png,Male,Caucasian or White,44.8,59,0,1,0,0,1,1,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN
9,6165184934482143,59156501,2013-10-23,CXR/0x386a815/0x15e733f9fe90df/d4dd94d624603ead78d247d9d3b23c029a27eabad93d9399efc6dea8.png,Female,Caucasian or White,24.6,47,1,0,0,0,1,1,0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
10,6165184934482143,59156501,2013-10-23,CXR/0x386a815/0x15e733f9fe90df/0dc8937674b9ce8dd842b5c1fe235d59983c1afc8c445c678590f77d.png,Female,Caucasian or White,24.6,47,0,1,0,0,1,1,0,1.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
11,9148955839141307,27175152,2012-11-28,CXR/0x19ea8f0/0x2080ed46db95bb/dcd75590671be011de9ecef0f634e080fcecd78b1dc27be7b41a9f6f.png,Female,African American or Black,23.3,41,1,0,1,0,1,1,1,NaN,1.0,1.0,NaN,NaN,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN,1.0
12,9148955839141307,27175152,2012-11-28,CXR/0x19ea8f0/0x2080ed46db95bb/266f54a39399d7142134ac762887cb33c1b4ad28cd99aa4deb454392.png,Female,African American or Black,23.3,41,0,1,1,0,1,1,1,NaN,1.0,1.0,NaN,NaN,0.0,0.0,NaN,NaN,1.0,0.0,NaN,NaN,1.0
13,1301930197713022,93590000,2010-11-03,CXR/0x59411f0/0x4a0193ef5007e/ea4f4d9b000d553927868af1d17bc306eb3b973bcc4ac9d8a79b3e84.png,Female,Unknown,25.5,72,1,0,0,0,1,1,1,NaN,-1.0,NaN,NaN,-1.0,NaN,1.0,NaN,1.0,-1.0,1.0,NaN,NaN,NaN
14,1301930197713022,93590000,2010-11-03,CXR/0x59411f0/0x4a0193ef5007e/66f35d676d69e67b255882693a74236bd8c78850612b0cb15affa107.png,Female,Unknown,25.5,72,0,1,0,0,1,1,1,NaN,-1.0,NaN,NaN,-1.0,NaN,1.0,NaN,1.0,-1.0,1.0,NaN,NaN,NaN
15,8047139452352881,42231996,2013-10-26,CXR/0x28468bc/0x1c96d4a883f971/ed40b78b86ade6b1acecef19defc51e304b2497c085c13287f621731.png,Female,Caucasian or White,21.5,76,0,1,0,0,1,1,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,1.0
16,8047139452352881,42231996,2013-10-26,CXR/0x28468bc/0x1c96d4a883f971/7a74d2f44286bc59529fd8f8d995521869f2255618ce53d8390089d3.png,Female,Caucasian or White,21.5,76,1,0,0,0,1,1,1,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,1.0
17,7272169377334484,59450033,2014-01-23,CXR/0x38b22b1/0x19d5ffe07b84d4/b7f0cc761d5449d4467cd0efc27bb4c4be4575523cc01be4b8c67ad5.png,Female,Hispanic or Latino,20.6,53,1,0,0,0,1,1,1,NaN,1.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,1.0
18,7272169377334484,59450033,2014-01-23,CXR/0x38b22b1/0x19d5ffe07b84d4/6cdf360cab8c88044f96540a15ceec17886e1346d2eddd3106d5f63f.png,Female,Hispanic or Latino,20.6,53,0,1,0,0,1,1,1,NaN,1.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,1.0
19,9387330308029891,91676163,2010-08-14,CXR/0x576de03/0x2159ba28663dc3/1e63172ffbebd6851689b170b49583b706284106b9b82aa956bf098a.png,Female,African American or Black,57.0,39,1,0,0,0,1,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2800367911443954,21694897,2015-07-10,CXR/0x14b09b1/0x9f2eb769a1df2/5b44107bcdbb54cb97a519b56dc12960db550c19f0859fcc820dc102.png,Male,Caucasian or White,26.8,79,1,0,0,0,1,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,1.0
21,7193674281601658,27058916,2014-06-25,CXR/0x19ce2e4/0x198e9bd02f4a7a/6824f15685328f7f9f89b3654316041c49b7d8b835181e2b36be3a62.png,Male,Caucasian or White,27.4,83,1,0,0,0,1,1,1,NaN,NaN,NaN,NaN,1.0,-1.0,NaN,-1.0,NaN,0.0,NaN,NaN,NaN,1.0
22,8255474460871290,43631980,2012-12-28,CXR/0x299c56c/0x1d544f6eb14a7a/0a947a8c290f989619f3ac46982e6a82ea67f9d78761ab8b489038aa.png,Female,Caucasian or White,37.5,46,0,1,0,0,1,1,1,NaN,NaN,-1.0,NaN,1.0,NaN,NaN,-1.0,NaN,0.0,NaN,NaN,NaN,1.0
23,8255474460871290,43631980,2012-12-28,CXR/0x299c56c/0x1d544f6eb14a7a/a6e05b3044018e3112332acd4ad57774a29c4c3dab01b4ebf57d53b2.png,Female,Caucasian or White,37.5,46,1,0,0,0,1,1,1,NaN,NaN,-1.0,NaN,1.0,NaN,NaN,-1.0,NaN,0.0,NaN,NaN,NaN,1.0
24,8323185835837837,15310745,2012-02-28,CXR/0xe99f99/0x1d91e4b725098d/eb08c238818ed285346f1af9352944079a6fb3b28ddc373b781e7c6e.png,Female,Unknown,25.2,66,1,0,0,0,1,1,1,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN
25,8323185835837837,15310745,2012-02-28,CXR/0xe99f99/0x1d91e4b725098d/8744041b5b40ce28220b84e3ace6b60a36ed685e8db590b067aad0ed.png,Female,Unknown,25.2,66,0,1,0,0,1,1,1,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN
26,4452861120549020,44055756,2014-10-07,CXR/0x2a03ccc/0xfd1da8553109c/b72be564b3ea3d07ec4a6554b19241c202cc1cec3b17a4aacc9b6c86.png,Female,African American or Black,34.1,86,1,0,0,1,1,1,1,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
27,4452861120549020,44055756,2014-10-07,CXR/0x2a03ccc/0xfd1da8553109c/3335362fb38b4888ddb4e19d215104a44866fa57f99308b0ff2b0caa.png,Female,African American or Black,34.1,86,0,1,0,1,1,1,1,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
28,8055563208360089,27891524,2010-08-15,CXR/0x1a99744/0x1c9e7df7800099/18bb177c63fd1a412000c4c2f4540965cbf8601c8b2c9aca94aea65c.png,Female,African American or Black,31.2,45,1,0,0,0,1,1,1,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN
29,8055563208360089,27891524,2010-08-15,CXR/0x1a99744/0x1c9e7df7800099/764b820c0d912756dea1726ac2b2994aa1065c567f5487b811c47d7d.png,Female,African American or Black,31.2,45,0,1,0,0,1,1,1,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN
30,8055563208360089,27891524,2010-08-15,CXR/0x1a99744/0x1c9e7df7800099/636dc15ee1bc0aea8425bdf1edd053438c6ec6d87253f652e3574b9c.png,Female,African American or Black,31.2,45,0,1,0,0,1,1,1,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN
31,8055563208360089,27891524,2010-08-15,CXR/0x1a99744/0x1c9e7df7800099/01c9a1a54b1b2c09c191fe599c6c5c1a6e6a7d509b34b78e29484974.png,Female,African American or Black,31.2,45,1,0,0,0,1,1,1,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN
32,8055563208360089,27891524,2010-08-15,CXR/0x1a99744/0x1c9e7df7800099/0b66f4056ddb5f95bc2002e6c0dcf367d9d5f61d0ef68ddab6994854.png,Female,African American or Black,31.2,45,1,0,0,0,1,1,1,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN
33,8055563208360089,27891524,2010-08-15,CXR/0x1a99744/0x1c9e7df7800099/226c8d5ef576ea7e37396188783f5094315e1dbc18bb4c8139929d76.png,Female,African American or Black,31.2,45,0,1,0,0,1,1,1,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN
34,1215549006878568,89088278,2010-01-19,CXR/0x54f6116/0x451890ec31768/ead0265b21d0a5bfa7023c3f55838921b139327090d35c7b517d59de.png,Female,African American or Black,36.3,71,1,0,0,0,1,1,1,NaN,NaN,1.0,1.0,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN
35,1215549006878568,89088278,2010-01-19,CXR/0x54f6116/0x451890ec31768/e72c0a9213f17d43ca34476e44aa5dd54878986e279922d014654951.png,Female,African American or Black,36.3,71,0,1,0,0,1,1,1,NaN,NaN,1.0,1.0,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN
36,4667776546014061,39744973,2014-04-04,CXR/0x25e75cd/0x1095516aea836d/f1efdce21b120a5253136633c4078329d40ee7202e4373cbb2756da7.png,Male,African American or Black,26.0,76,1,0,0,0,1,1,1,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,0.0
37,4667776546014061,39744973,2014-04-04,CXR/0x25e75cd/0x1095516aea836d/46dec8cdf5b7d74cf1a0cd08d5aed5eb00a1d8d5651465749d4ac66a.png,Male,African American or Black,26.0,76,0,1,0,0,1,1,1,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,0.0
38,7779777357812055,28536612,2010-05-06,CXR/0x1b36f24/0x1ba3aa91d81157/5b71f06d58c6d960fd0a1e5d94aa5cf1b1c2a92cd5642b7411f5c2a1.png,Female,African American or Black,19.1,43,0,1,0,0,1,1,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,1.0,-1.0,NaN,NaN
39,7779777357812055,28536612,2010-05-06,CXR/0x1b36f24/0x1ba3aa91d81157/08c2b26c7612e042172448ff90fbf8b2a4ccdf78f6829776d2533384.png,Female,African American or Black,19.1,43,1,0,0,0,1,1,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,1.0,-1.0,NaN,NaN
40,8162923261272639,45605251,2011-06-25,CXR/0x2b7e183/0x1d0022ad51223f/c3e5b1ffe12f72299451ee43b8d70cc764d9beff1163ebd0e36b57c9.png,Female,Caucasian or White,30.2,69,1,0,0,0,1,1,0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
41,8162923261272639,45605251,2011-06-25,CXR/0x2b7e183/0x1d0022ad51223f/f594d609ecc2637154bda0d6375605519b38f01140b434149c12a10a.png,Female,Caucasian or White,30.2,69,0,1,0,0,1,1,0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
42,6018755094474242,60605926,2010-03-29,CXR/0x39cc5e6/0x1562069f656e02/9b77acf7cf2b43c1e79f1d69fdea4508e1356e39f2dd099fda5a83eb.png,Female,African American or Black,39.4,74,1,0,0,0,1,1,1,NaN,0.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
43,6018755094474242,60605926,2010-03-29,CXR/0x39cc5e6/0x1562069f656e02/7054ad248b2fb3002c14db32371d7e2acfb93f9fa446bb6dac17404e.png,Female,African American or Black,39.4,74,0,1,0,0,1,1,1,NaN,0.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
44,4572535482542021,63924943,2010-11-20,CXR/0x3cf6acf/0x103eb26128e7c5/447de2be3d51437d8cfd02f77172995f1cee7cc2bc80d9138b880740.png,Male,Caucasian or White,24.2,34,1,0,0,0,1,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
45,4572535482542021,63924943,2010-11-20,CXR/0x3cf6acf/0x103eb26128e7c5/fbc0479ef198402c1a4333de1f2633e27f0df7341968c9ebc93a143b.png,Male,Caucasian or White,24.2,34,0,1,0,0,1,1,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
46,3780010183605513,45194027,2015-09-01,CXR/0x2b19b2b/0xd6de6343dbd09/a7b15bdc53377aecec4b4eae8fd725e25d2cefd051dcf54aa7bdaab9.png,Female,African American or Black,28.4,51,1,0,0,0,1,1,0,NaN,0.0,NaN,NaN,-1.0,NaN,1.0,NaN,NaN,-1.0,-1.0,NaN,NaN,NaN
47,4050277046114408,50324327,2015-04-29,CXR/0x2ffe367/0xe63b49c935868/e48a33a1191df8ac0b57ff9d1c7f3e2293676e9b1468fd52a6c8d221.png,Male,Caucasian or White,29.1,52,0,1,0,0,1,0,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,NaN,NaN
48,4050277046114408,50324327,2015-04-29,CXR/0x2ffe367/0xe63b49c935868/8462d55d8d16f2867d96983134902d9841182309d751b64c463f26fb.png,Male,Caucasian or White,29.1,52,1,0,0,0,1,0,0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,NaN,NaN
49,3703861118968892,47018045,2012-11-20,CXR/0x2cd703d/0xd28a45e4b243c/05793ceb5cdd29926f32585a2a126ac2476ca30e256923806bbfef3d.png,Male,African American or Black,31.1,43,1,0,0,0,1,1,1,NaN,0.0,NaN,0.0,0.0,0.0,NaN,-1.0,NaN,0.0,-1.0,NaN,NaN,NaN

In [21]:
os.chdir('/home/jupyter-hu')
os.getcwd()

'/home/jupyter-hu'

In [22]:
# joined_dat.to_csv('joined_dat.csv', index=False)

In [23]:
joined_dat.isna().sum()

AccessionNumber_anon             0
empi_anon                        0
StudyDate_anon                   0
ImagePath                        0
Sex                              0
Race                             0
BMI_value                        0
Age                              0
ImageView_Frontal                0
ImageView_Lateral                0
ADI                              0
ICU                              0
Findings                         0
CCI                              0
Insurance                        0
No Finding                    7401
Enlarged Cardiomediastinum    5096
Cardiomegaly                  3853
Lung Lesion                   7912
Lung Opacity                  5015
Edema                         4905
Consolidation                 6040
Pneumonia                     7245
Atelectasis                   6393
Pneumothorax                  2618
Pleural Effusion              1883
Pleural Other                 8212
Fracture                      8380
Support Devices               3883
dtype: int64

In [24]:
joined_dat_feat = joined_dat[['Age', 'Sex', 'Race']]
joined_dat_feat.head()

   Age     Sex                        Race
0   80  Female  African American  or Black
1   55  Female          Caucasian or White
2   55  Female          Caucasian or White
3   77    Male  African American  or Black
4   77    Male  African American  or Black

In [25]:
joined_dat_feat['Sex'].value_counts()

Male      4663
Female    3967
Name: Sex, dtype: int64

In [26]:
for i in range(joined_dat_feat.shape[0]):
    if joined_dat_feat.loc[i,'Sex'] == 'Male':
        joined_dat_feat.loc[i,'Sex'] = 1
    else:
        joined_dat_feat.loc[i,'Sex'] = 0

In [27]:
joined_dat_feat['Sex'].value_counts()

1    4663
0    3967
Name: Sex, dtype: int64

In [28]:
joined_dat_feat['Race'].value_counts()

Caucasian or White                           4106
African American  or Black                   4050
Unknown                                       246
Asian                                         149
Hispanic or Latino                             68
Native Hawaiian or Other Pacific Islander      11
Name: Race, dtype: int64

In [29]:
joined_dat_feat['White'] = 0
joined_dat_feat['Black'] = 0
joined_dat_feat['Other'] = 0

for i in range(joined_dat_feat.shape[0]):
    if joined_dat_feat.loc[i,'Race'] == 'Caucasian or White':
        joined_dat_feat.loc[i,'White'] = 1
    elif joined_dat_feat.loc[i,'Race'] == 'African American  or Black':
        joined_dat_feat.loc[i,'Black'] = 1
    else:
        joined_dat_feat.loc[i,'Other'] = 1

joined_dat_feat = joined_dat_feat.drop(columns=['Race'])

/tmp/ipykernel_175458/2903167851.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_dat_feat['White'] = 0
/tmp/ipykernel_175458/2903167851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_dat_feat['Black'] = 0
/tmp/ipykernel_175458/2903167851.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  joined_dat_feat['Other'] = 0

In [30]:
joined_dat_feat.head()

   Age Sex  White  Black  Other
0   80   0      0      1      0
1   55   0      1      0      0
2   55   0      1      0      0
3   77   1      0      1      0
4   77   1      0      1      0

In [31]:
temp_min = min(joined_dat_feat['Age'])
temp_max = max(joined_dat_feat['Age'])
joined_dat_feat['Age'] = (joined_dat_feat['Age']-temp_min) / (temp_max-temp_min)

In [32]:
joined_dat_feat['ImagePath'] = '/cxr/' + joined_dat['ImagePath']

In [33]:
joined_dat_feat.head()

,Age,Sex,White,Black,Other,ImagePath
0,0.885714,0,0,1,0,/cxr/CXR/0x5e016f0/0x10384a1a6e6466/99578940d67f633f9216a77d7cf5017285bf6ea0cc3ee449fd1f8dcc.png
1,0.528571,0,1,0,0,/cxr/CXR/0x1f5cdc3/0x1b5fd3e1e35f8f/017790a77efd6fbb92a29fe4184e07a8b15f54a6f0b907a3cfc184bd.png
2,0.528571,0,1,0,0,/cxr/CXR/0x1f5cdc3/0x1b5fd3e1e35f8f/bb25a781da01badb38bb93c5ca5b6028128abdc04c3d80725347427a.png
3,0.842857,1,0,1,0,/cxr/CXR/0x573a611/0xafb9ba1318c76/2f448126139142c1306ae6823abcc8ad31c16b05fd9ee53fd257ac56.png
4,0.842857,1,0,1,0,/cxr/CXR/0x573a611/0xafb9ba1318c76/5dab76d3569452d3b04f03f3f2ea8c3e7cec871a7c64d84910dec243.png

In [34]:
joined_dat_feat.describe()

               Age        White        Black        Other
count  8630.000000  8630.000000  8630.000000  8630.000000
mean      0.559336     0.475782     0.469293     0.054925
std       0.243320     0.499442     0.499085     0.227846
min       0.000000     0.000000     0.000000     0.000000
25%       0.400000     0.000000     0.000000     0.000000
50%       0.585714     0.000000     0.000000     0.000000
75%       0.728571     1.000000     1.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000

In [35]:
joined_dat_target = joined_dat[['No Finding', 'Pleural Effusion', 'Cardiomegaly', 'Edema']]
joined_dat_target.head()

   No Finding  Pleural Effusion  Cardiomegaly  Edema
0         NaN               1.0           NaN    0.0
1         NaN               NaN           NaN    NaN
2         NaN               NaN           NaN    NaN
3         NaN               NaN           NaN    NaN
4         NaN               NaN           NaN    NaN

In [36]:
joined_dat_target.shape

(8630, 4)

In [37]:
joined_dat_target.isna().sum()

No Finding          7401
Pleural Effusion    1883
Cardiomegaly        3853
Edema               4905
dtype: int64

In [38]:
for i in joined_dat_target.columns:
    print(joined_dat_target[i].value_counts())
    print()

1.0    1229
Name: No Finding, dtype: int64

 0.0    4019
 1.0    2302
-1.0     426
Name: Pleural Effusion, dtype: int64

 1.0    2525
 0.0    1957
-1.0     295
Name: Cardiomegaly, dtype: int64

 0.0    2030
 1.0    1269
-1.0     426
Name: Edema, dtype: int64

In [39]:
joined_dat_target = joined_dat_target.fillna(0)

In [40]:
joined_dat = pd.concat([joined_dat_feat, joined_dat_target], axis=1)
joined_dat.head()

,Age,Sex,White,Black,Other,ImagePath,No Finding,Pleural Effusion,Cardiomegaly,Edema
0,0.885714,0,0,1,0,/cxr/CXR/0x5e016f0/0x10384a1a6e6466/99578940d67f633f9216a77d7cf5017285bf6ea0cc3ee449fd1f8dcc.png,0.0,1.0,0.0,0.0
1,0.528571,0,1,0,0,/cxr/CXR/0x1f5cdc3/0x1b5fd3e1e35f8f/017790a77efd6fbb92a29fe4184e07a8b15f54a6f0b907a3cfc184bd.png,0.0,0.0,0.0,0.0
2,0.528571,0,1,0,0,/cxr/CXR/0x1f5cdc3/0x1b5fd3e1e35f8f/bb25a781da01badb38bb93c5ca5b6028128abdc04c3d80725347427a.png,0.0,0.0,0.0,0.0
3,0.842857,1,0,1,0,/cxr/CXR/0x573a611/0xafb9ba1318c76/2f448126139142c1306ae6823abcc8ad31c16b05fd9ee53fd257ac56.png,0.0,0.0,0.0,0.0
4,0.842857,1,0,1,0,/cxr/CXR/0x573a611/0xafb9ba1318c76/5dab76d3569452d3b04f03f3f2ea8c3e7cec871a7c64d84910dec243.png,0.0,0.0,0.0,0.0

In [41]:
boolA = (joined_dat['Pleural Effusion'] != -1)
boolB = (joined_dat['No Finding'] != -1)
boolC = (joined_dat['Cardiomegaly'] != -1)
boolD = (joined_dat['Edema'] != -1)
joined_dat = joined_dat[boolA & boolB & boolC & boolD].reset_index(drop=True)
joined_dat.shape

(7548, 10)

## images

In [42]:
joined_dat.head()

,Age,Sex,White,Black,Other,ImagePath,No Finding,Pleural Effusion,Cardiomegaly,Edema
0,0.885714,0,0,1,0,/cxr/CXR/0x5e016f0/0x10384a1a6e6466/99578940d67f633f9216a77d7cf5017285bf6ea0cc3ee449fd1f8dcc.png,0.0,1.0,0.0,0.0
1,0.528571,0,1,0,0,/cxr/CXR/0x1f5cdc3/0x1b5fd3e1e35f8f/017790a77efd6fbb92a29fe4184e07a8b15f54a6f0b907a3cfc184bd.png,0.0,0.0,0.0,0.0
2,0.528571,0,1,0,0,/cxr/CXR/0x1f5cdc3/0x1b5fd3e1e35f8f/bb25a781da01badb38bb93c5ca5b6028128abdc04c3d80725347427a.png,0.0,0.0,0.0,0.0
3,0.842857,1,0,1,0,/cxr/CXR/0x573a611/0xafb9ba1318c76/2f448126139142c1306ae6823abcc8ad31c16b05fd9ee53fd257ac56.png,0.0,0.0,0.0,0.0
4,0.842857,1,0,1,0,/cxr/CXR/0x573a611/0xafb9ba1318c76/5dab76d3569452d3b04f03f3f2ea8c3e7cec871a7c64d84910dec243.png,0.0,0.0,0.0,0.0

In [43]:
for i in joined_dat.columns:
    if (i != 'ImagePath') and (i != 'Age'):
        print(joined_dat[i].value_counts())
        print()

1    4120
0    3428
Name: Sex, dtype: int64

0    3955
1    3593
Name: White, dtype: int64

0    4017
1    3531
Name: Black, dtype: int64

0    7124
1     424
Name: Other, dtype: int64

0.0    6319
1.0    1229
Name: No Finding, dtype: int64

0.0    5491
1.0    2057
Name: Pleural Effusion, dtype: int64

0.0    5348
1.0    2200
Name: Cardiomegaly, dtype: int64

0.0    6422
1.0    1126
Name: Edema, dtype: int64

In [44]:
from tensorflow.keras.preprocessing.image import load_img, img_to_array
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Flatten, Dense, GlobalAveragePooling2D, BatchNormalization, Dropout
from tensorflow.keras.optimizers import Adam
from keras.applications.densenet import DenseNet121

2023-08-20 13:09:39.481222: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [47]:
joined_dat = joined_dat.rename(columns={'Sex':'Male'})
x = joined_dat.iloc[:,:6]
y = joined_dat.iloc[:,6:]

In [49]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [50]:
# Set the image dimensions
img_width, img_height = 128, 128

# Load and preprocess images
def load_and_preprocess_image(image_path):
    img = load_img(image_path, target_size=(img_width, img_height))
    img_array = img_to_array(img) / 255.0  # Normalize pixel values
    return img_array

# Load and preprocess all images
images_train = [load_and_preprocess_image(path) for path in X_train['ImagePath']]

# Load and preprocess all images
images_test = [load_and_preprocess_image(path) for path in X_test['ImagePath']]

In [ ]:
# joined_dat.to_csv('joined_dat_images.csv', index=False)

In [ ]:
# joined_dat = pd.read_csv('joined_dat_images.csv')

In [51]:
model_d=DenseNet121(weights='imagenet',include_top=False, input_shape=(128, 128, 3)) 

x=model_d.output

x= GlobalAveragePooling2D()(x)
x= BatchNormalization()(x)
x= Dropout(0.5)(x)
x= Dense(1024,activation='relu')(x) 
x= Dense(512,activation='relu')(x) 
x= BatchNormalization()(x)
x= Dropout(0.5)(x)

preds=Dense(1,activation='sigmoid')(x) #FC-layer

model=Model(inputs=model_d.input,outputs=preds)
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

2023-08-20 13:23:31.642700: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [58]:
num_epochs = 5  # Number of training epochs

for target in joined_dat.columns[6:]:
    # Convert lists to numpy arrays
    labels = np.array(y_train[target])
    images_train_array = np.array(images_train)
    images_test_array = np.array(images_test)
    
    # Train the model
    model.fit(
        images_train_array,
        labels,
        epochs=num_epochs
    )

    new_column_name = target + '_bl_prob'
    y_test[new_column_name] = model.predict(images_test_array)
    X_train[new_column_name] = model.predict(images_train_array)
    print(target + ' done')

In [66]:
from sklearn.metrics import roc_auc_score, roc_curve, auc

# train auc
print(roc_auc_score(y_train['No Finding'], X_train['No Finding_bl_prob']))
# test auc
print(roc_auc_score(y_test['No Finding'], y_test['No Finding_bl_prob']))

0.5594156014351754
0.5435697957377774

In [102]:
X_train = X_train.drop(columns=['ImagePath'])
X_train['Age'] = (X_train['Age'] > 0.8).astype(int)
X_train.columns

In [103]:
X_test = X_test.drop(columns=['ImagePath'])
X_test['Age'] = (X_test['Age'] > 0.8).astype(int)
X_test.columns

Index(['Age', 'Male', 'White', 'Black', 'Other'], dtype='object')

In [128]:
X_train.head(1)

      Age Male  White  Black  Other  No Finding_bl_prob
7145    1    1      0      1      0            0.188237

In [130]:
X_train.shape

(5283, 6)

In [126]:
X_test.head(1)

,Age,Male,White,Black,Other,NN_Age,NN_Male,NN_White,NN_Black,NN_Other
3161,0,1,0,1,0,0.202731,0.169761,0.178378,0.174852,0.18661

In [127]:
X_test.shape

(2265, 10)

In [124]:
y_train.head(1)

,No Finding,Pleural Effusion,Cardiomegaly,Edema,NN_Age,NN_Male,NN_White,NN_Black,NN_Other
7145,0.0,0.0,0.0,0.0,0.0,0.04,0.11,0.17,0.06

In [109]:
y_train.shape

(5283, 9)

In [110]:
y_test.head(1)

      No Finding  Pleural Effusion  Cardiomegaly  Edema  No Finding_bl_prob
3161         0.0               0.0           0.0    0.0            0.187449

In [111]:
y_test.shape

(2265, 5)

In [132]:
from sklearn.ensemble import RandomForestClassifier

# [Age, Male, White, Black, Other]
feat_list = ['No Finding_bl_prob']
for feat in X_train.columns[:5]:
    feat_list.append(feat)
    new_X_train = X_train[feat_list] # 5000
    new_X_test = pd.concat([y_test['No Finding_bl_prob'], X_test[feat]], axis=1) # 2000
    model = RandomForestClassifier(n_estimators=100).fit(new_X_train, y_train['No Finding'])
    temp_name = 'NN_' + feat
    y_train[temp_name] = model.predict_proba(new_X_train)[:,1]
    y_test[temp_name] = model.predict_proba(new_X_test)[:,1]
    print(roc_auc_score(y_train['No Finding'], y_train[temp_name]))
    print(roc_auc_score(y_test['No Finding'], y_test[temp_name]))
    print()

    del feat_list[-1]

0.922215480816491
0.537041516112381

0.9210113700237655
0.5304225352112676

0.9157439043188651
0.5362812476955976

0.9186189783431332
0.5284684020352481

0.9158057966516379
0.5351456382272693

In [133]:
y_train.head(1)

,No Finding,Pleural Effusion,Cardiomegaly,Edema,NN_Age,NN_Male,NN_White,NN_Black,NN_Other
7145,0.0,0.0,0.0,0.0,0.0,0.06,0.02,0.11,0.08

In [134]:
y_test.head(1)

,No Finding,Pleural Effusion,Cardiomegaly,Edema,No Finding_bl_prob,NN_Age,NN_Male,NN_White,NN_Black,NN_Other
3161,0.0,0.0,0.0,0.0,0.187449,0.203479,0.172917,0.17818,0.175938,0.18679

In [138]:
from sklearn.ensemble import RandomForestClassifier

temp_list = [['No Finding_bl_prob', 'Age', 'Male'],
             ['No Finding_bl_prob', 'Age', 'White'],
             ['No Finding_bl_prob', 'Age', 'Male', 'White'], 
             ['No Finding_bl_prob', 'White', 'Male']]
for feat_list in temp_list:
    new_X_train = X_train[feat_list] # 5000
    new_X_test = pd.concat([y_test['No Finding_bl_prob'], X_test[feat_list[1:]]], axis=1) # 2000
    model = RandomForestClassifier(n_estimators=100).fit(new_X_train, y_train['No Finding'])
    temp_s = 'NN_'
    for i in feat_list:
        if i != 'No Finding_bl_prob':
            temp_s = temp_s + i + '_'
    y_train[temp_s] = model.predict_proba(new_X_train)[:,1]
    y_test[temp_s] = model.predict_proba(new_X_test)[:,1]
    print(roc_auc_score(y_train['No Finding'], y_train[temp_s]))
    print(roc_auc_score(y_test['No Finding'], y_test[temp_s]))
    print()

0.9260574765678483
0.5311223361109063

0.9221067475358549
0.5577582774131701

0.9278109629097545
0.5572664257798097

0.9212512839090833
0.5453314652311776

In [144]:
X_test = X_test[['Age', 'Male', 'White', 'Black', 'Other']]

In [145]:
X_train.head(1)

      Age Male  White  Black  Other  No Finding_bl_prob
7145    1    1      0      1      0            0.188237

In [146]:
y_train.head(1)

,No Finding,Pleural Effusion,Cardiomegaly,Edema,NN_Age,NN_Male,NN_White,NN_Black,NN_Other,NN_Age_Male_,NN_Age_White_,NN_Age_Male_White_,NN_White_Male_
7145,0.0,0.0,0.0,0.0,0.0,0.06,0.02,0.11,0.08,0.0,0.01,0.0,0.13

In [147]:
X_test.head(1)

      Age Male  White  Black  Other
3161    0    1      0      1      0

In [156]:
y_test.head(5)

,No Finding,Pleural Effusion,Cardiomegaly,Edema,No Finding_bl_prob,NN_Age,NN_Male,NN_White,NN_Black,NN_Other,NN_Age_Male_,NN_Age_White_,NN_Age_Male_White_,NN_White_Male_
3161,0.0,0.0,0.0,0.0,0.187449,0.203479,0.172917,0.178180,0.175938,0.18679,0.179821,0.195556,0.173266,0.158331
533,0.0,0.0,0.0,0.0,0.187449,0.203479,0.172917,0.202307,0.203828,0.18679,0.179821,0.216433,0.188681,0.190056
1411,0.0,0.0,1.0,0.0,0.146180,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
3098,0.0,0.0,0.0,0.0,0.106640,0.880000,0.680000,0.930000,0.940000,0.83000,0.730000,0.880000,0.670000,0.540000
1751,0.0,0.0,1.0,1.0,0.158375,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.003333,0.000000,0.000000

In [171]:
zero_pop = y_test.loc[X_test[X_test['Other'] == 0].index]
one_pop = y_test.loc[X_test[X_test['Other'] == 1].index]

In [172]:
print(roc_auc_score(zero_pop['No Finding'], zero_pop['No Finding_bl_prob']))
print(roc_auc_score(one_pop['No Finding'], one_pop['No Finding_bl_prob']))

0.5384162590050225
0.6550751879699248

In [175]:
result_table_nn = pd.DataFrame({'subset':[], 
                                '0_group_auc':[], 
                                '1_group_auc':[]})
result_table_nn

Empty DataFrame
Columns: [subset, 0_group_auc, 1_group_auc]
Index: []

In [176]:
result_table_nn.loc[0] = ['{Age}',0.537,0.585]
result_table_nn.loc[1] = ['{Male}',0.568,0.529]
result_table_nn.loc[2] = ['{White}',0.537,0.550]
result_table_nn.loc[3] = ['{Black}',0.560,0.527]
result_table_nn.loc[4] = ['{Other}',0.538,0.655]
result_table_nn

    subset  0_group_auc  1_group_auc
0    {Age}        0.537        0.585
1   {Male}        0.568        0.529
2  {White}        0.537        0.550
3  {Black}        0.560        0.527
4  {Other}        0.538        0.655

In [184]:
table_list = []

for i in y_test.columns[5:]:
    temp_table = pd.DataFrame({'subset':[], 
                               '0_group_auc':[], 
                               '1_group_auc':[]})
    row_num = 0
    for j in ['Age', 'Male', 'White', 'Black', 'Other']:
        zero_pop = y_test.loc[X_test[X_test[j] == 0].index]
        one_pop = y_test.loc[X_test[X_test[j] == 1].index]
        zero_auc = round(roc_auc_score(zero_pop['No Finding'], zero_pop[i]), 3)
        one_auc = round(roc_auc_score(one_pop['No Finding'], one_pop[i]), 3)
        temp_table.loc[row_num] = [j, zero_auc, one_auc]
        row_num += 1

    table_list.append(temp_table)

In [185]:
y_test.columns[5:]

Index(['NN_Age', 'NN_Male', 'NN_White', 'NN_Black', 'NN_Other', 'NN_Age_Male_',
       'NN_Age_White_', 'NN_Age_Male_White_', 'NN_White_Male_'],
      dtype='object')

In [186]:
len(table_list)

9

In [189]:
for i in table_list:
    print(i)
    print()

  subset  0_group_auc  1_group_auc
0    Age       -1.862      -12.479
1   Male        1.408       -5.482
2  White        1.304       -3.818
3  Black       -5.357        3.416
4  Other       -0.186      -21.069

  subset  0_group_auc  1_group_auc
0    Age       -1.862       -4.786
1   Male       -3.697       -5.482
2  White       -7.449        2.909
3  Black        0.357       -6.072
4  Other       -1.301      -20.153

  subset  0_group_auc  1_group_auc
0    Age       -0.372       -8.718
1   Male       -1.761       -2.079
2  White       -0.931       -1.818
3  Black       -4.464        2.087
4  Other        0.186      -29.008

  subset  0_group_auc  1_group_auc
0    Age       -1.862       -7.863
1   Male       -1.585       -5.293
2  White       -1.117       -4.182
3  Black       -6.429        1.518
4  Other       -1.487      -25.802

  subset  0_group_auc  1_group_auc
0    Age        0.000      -10.769
1   Male       -0.704       -3.781
2  White       -1.117       -2.000
3  Black       -2.143       -0.949
4  Other       -1.487       -2.290

  subset  0_group_auc  1_group_auc
0    Age       -1.490      -20.513
1   Male       -1.761       -7.372
2  White       -6.704        2.182
3  Black       -0.357       -5.123
4  Other       -1.115      -22.290

  subset  0_group_auc  1_group_auc
0    Age        2.235       -5.983
1   Male        2.113        1.890
2  White        7.635       -2.182
3  Black       -3.214        9.488
4  Other        3.346      -13.740

  subset  0_group_auc  1_group_auc
0    Age        2.235       -3.761
1   Male       -0.352        0.756
2  White        2.421        3.273
3  Black        2.143        3.605
4  Other        3.160       -7.634

  subset  0_group_auc  1_group_auc
0    Age        0.931       -3.932
1   Male       -0.352       -3.592
2  White       -1.862        2.909
3  Black        0.179        0.569
4  Other        1.673      -24.733

In [188]:
for i in table_list:
    i['0_group_auc'] = np.round((i['0_group_auc']-result_table_nn['0_group_auc'])/result_table_nn['0_group_auc']*100,3)
    i['1_group_auc'] = np.round((i['1_group_auc']-result_table_nn['1_group_auc'])/result_table_nn['1_group_auc']*100,3)

In [194]:
# baseline performance
result_table_nn.loc[:3,:]

    subset  0_group_auc  1_group_auc
0    {Age}        0.537        0.585
1   {Male}        0.568        0.529
2  {White}        0.537        0.550
3  {Black}        0.560        0.527

In [191]:
result_final = pd.DataFrame({'Baseline':[],
                             'NN_Age':[],
                             'NN_Male':[], 
                             'NN_White':[], 
                             'NN_Black':[], 
                             'NN_Age_Male':[],
                             'NN_Age_White':[], 
                             'NN_Age_Male_White':[], 
                             'NN_White_Male':[]})
result_final.loc[0,'Baseline'] = 0.544
result_final

,Baseline,NN_Age,NN_Male,NN_White,NN_Black,NN_Age_Male,NN_Age_White,NN_Age_Male_White,NN_White_Male
0,0.544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
# del table_list[4]
len(table_list)

8

In [197]:
result_final.columns

Index(['Baseline', 'NN_Age', 'NN_Male', 'NN_White', 'NN_Black', 'NN_Age_Male',
       'NN_Age_White', 'NN_Age_Male_White', 'NN_White_Male'],
      dtype='object')

In [ ]:
'overall_performance': [0.544,0.537,0.530,0.536,0.528,0.531,0.558,0.557,0.545]

In [203]:
np.round((np.array([0.544,0.537,0.530,0.536,0.528,0.531,0.558,0.557,0.545])-0.544)/0.544*100,1)

array([ 0. , -1.3, -2.6, -1.5, -2.9, -2.4,  2.6,  2.4,  0.2])

In [204]:
for i in table_list:
    print(i)
    print()

  subset  0_group_auc  1_group_auc
0    Age       -1.862      -12.479
1   Male        1.408       -5.482
2  White        1.304       -3.818
3  Black       -5.357        3.416
4  Other       -0.186      -21.069

  subset  0_group_auc  1_group_auc
0    Age       -1.862       -4.786
1   Male       -3.697       -5.482
2  White       -7.449        2.909
3  Black        0.357       -6.072
4  Other       -1.301      -20.153

  subset  0_group_auc  1_group_auc
0    Age       -0.372       -8.718
1   Male       -1.761       -2.079
2  White       -0.931       -1.818
3  Black       -4.464        2.087
4  Other        0.186      -29.008

  subset  0_group_auc  1_group_auc
0    Age       -1.862       -7.863
1   Male       -1.585       -5.293
2  White       -1.117       -4.182
3  Black       -6.429        1.518
4  Other       -1.487      -25.802

  subset  0_group_auc  1_group_auc
0    Age       -1.490      -20.513
1   Male       -1.761       -7.372
2  White       -6.704        2.182
3  Black       -0.357       -5.123
4  Other       -1.115      -22.290

  subset  0_group_auc  1_group_auc
0    Age        2.235       -5.983
1   Male        2.113        1.890
2  White        7.635       -2.182
3  Black       -3.214        9.488
4  Other        3.346      -13.740

  subset  0_group_auc  1_group_auc
0    Age        2.235       -3.761
1   Male       -0.352        0.756
2  White        2.421        3.273
3  Black        2.143        3.605
4  Other        3.160       -7.634

  subset  0_group_auc  1_group_auc
0    Age        0.931       -3.932
1   Male       -0.352       -3.592
2  White       -1.862        2.909
3  Black        0.179        0.569
4  Other        1.673      -24.733

In [206]:
'best/worst subgroup changes': [{3.4, -12.5},
                                {2.9, -7.5},
                                {2.1, -8.7},
                                {1.5,-7.9},
                                {2.2,-20.5},
                                {9.5,-6.0},
                                {3.6,-3.8},
                                {2.9,-3.9}]

'best/worst subgroup': ['{Black=1}, {Age=1}',
                        '{White=1}, {White=0}',
                        '{Black=1}, {Age=1}',
                        '{Black=1}, {Age=1}',
                        '{White=1}, {Age=1}',
                        '{Black=1}, {Age=1}',
                        '{Black=1}, {Age=1}',
                        '{White=1}, {Age=1}']

fairuse_ratio = [3/5, 2/6, 1/7, 1/7, 1/7, 5/3, 6/2, 4/4]

SyntaxError: illegal target for annotation (1924205361.py, line 1)